@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Just+Another+Hand&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: 'Cabin', 'Helvetica Neue',
    sans-serif;
  background-color: aliceblue !important; 
}

.logoName {
  font-family: "Delicious Handrawn", cursive;
  font-size: 3.8em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #1650AC;
  margin-top:10px;
}

.copyAnimate {
  animation: copyAnimate 2s;
}

@keyframes copyAnimate {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}


.hideBucketCopyMsg {
  display:none!important;
}

.light-theme {
  background-color: whitesmoke;
  color: #333;
}

.dark-theme {
  background-color: #333;
  color: whitesmoke;
}

.offcanvas-bottom {
  height: auto !important;
}

.itemCount {
  z-index: 10;
  top: 9rem;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

a {
  color: #4F8AE8 !important;
  text-decoration:none
}

nav {
  position:fixed;
  bottom:14px;
  left:2px;
  display: flex;
  flex-direction: row;
  width: 98%;
  gap: 10px;
  padding-top: 15px;
  padding-left: 10px;
}

nav button {
  justify-self:center;
  /* width:100%!important; */
  background-color:#1650AC!important;
}

nav a {
  background-color:#1650AC;
}

.viewListButton, .newListButton, .copyListButton {
    flex-grow: 1!important;
  }

.addItemButton {
  flex-grow: 3!important;
}


nav i, .addHopeConfirm i{
  font-size: 24px;
}

#newListIcon {
  background-color:#b912e7 !important;
  color:#ffffff;
  animation: tilt-n-move-shaking 3s;
  animation-iteration-count: 2;
  border:none;
}

@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) }
  25% { transform: translate(0, -20px) }
  50% { transform: translate(0, 0) }
  75% { transform: translate(0, 5px)  }
  100% { transform: translate(0, 0) }
}

.topNav {
  text-align: right;
  padding: 10px 20px;
}

.feedback a {
  font-size: 1.3em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Cabin", sans-serif;
  color: #1650AC!important;
  line-height: 1.3em !important;
}


h5 {
  font-size: 1em !important;
}

textarea.form-control.form-control-lg {
  font-size:1.2em;
}

.form-select {
  background-color:lightskyblue!important;
  margin-bottom:10px!important;
  font-size:1.2em!important;
}

.section-center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid #4F8AE8;
  margin-bottom: 12px;
}

.bucketIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  height: 70%;
}

.topCopyBucket {
  font-family: "Cabin",sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hopeCount {
  position: relative;
  width: 198px;
  top: 167px;
  font-weight: 800;
  font-size: 1.5em;
}

.no-wrap {
  flex: 0 0 auto;
}

.topCopyList {
  font-family: "Cabin",sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.list-group {
  flex-direction: column-reverse;
  padding-left: 50px;
  display: inherit;
}

.list-group-item {
  margin-top: 6px!important;
  background-color:transparent!important;
  border:none!important;
}

.list-group-item:first-child {
  padding-top:0!important;
}

.hopeItem {
  word-break: break-word;
  font-family: sans-serif;
  font-weight: 900 !important;
  font-size: 22px;
  letter-spacing: 0.8px;
  color: #1650AC;
  text-align: left;
  padding-inline-start: 20px;
}

.hopeItem:hover {
  color: #e673d3;
  font-weight: bold;
}

.removeItem {
  font-style: bold;
  font-weight: 700;
}

.newsletter-button {
  position: absolute;
  z-index: 1000;
  bottom: 10px;
  right: 10px;
}

.btn.startButton {
  min-width: 200px;
}


.closeX.btn:hover {
  color: #e673d3;
font-weight:bold!important;
}
.modal-title {
  width:100%;
}

.closeButton {
  width: 40px;
}

.closeX.btn {
  color: #1650AC;
  width: 100%;
  height: 40px;
  padding-top: 16px;
  padding-right: 50px;
  font-size: 30px;
  display: inline-flex;
  margin-right: 5px;
  margin-bottom:30px;
}

.bi-dash {
  font-size:20px;
  font-weight: bold;
}

button.btn, nav a {
    color: #fff;
    padding: 5px;
    border: 0;
    border-radius: 10px;
    width: 60px;
    font-size: 24px;
}

.addHopeConfirm.btn {
  width: 97%;
  margin: 0 auto;
}

.form-control {
  border: 2px solid !important;
}

.textWhite {
  color: #fff !important;
  text-decoration: none;
}

@media screen and (min-width:768px) {
  .hopeCount.text-center {
    position: relative;
    top: 175px;
  }
}

@media screen and (min-width:1024px) {
  .list-group {
    padding-top:30px;
    padding-left:20px;
  }
}


.modal-content {
  border-radius: 15px;
  border: 3px solid #1650AC;
}

.modal-header {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 2px solid #1650AC;
}


.modal-header .btn-close {
  color: #1650AC!important;
  font-size: 1.5rem;
  filter: brightness(0) invert(1);
}


.modal-body {
  background-color: aliceblue;
  margin-top:0px!important;
  min-height: 400px !important;        
  max-height: calc(70vh - 120px) !important;  
  overflow-y: auto !important;         
}

.modal-backdrop {
  background-color: rgba(22, 80, 172, 0.4);
}

.modal-body .list-group {
  padding-left: 0;
}

@media screen and (max-width:768px) {
    .closeX.btn:hover {
      color:#333;
      font-weight:bold;
  }

    .modal-content {
      margin: 10px;
    }
    .viewListButton, .newListButton, .copyListButton, .addItemButton, a{
      flex-grow: 2!important;
    }
  
}