@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto');


body {
  font-family: 'Cabin', 'Helvetica Neue',
    sans-serif;
  background-color: aliceblue !important;

}

.logoName {
  font-family: "Delicious Handrawn", cursive;
  font-size: 3.8em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #1650AC;
  margin-top:10px;
}

.light-theme {
  background-color: whitesmoke;
  color: #333;
}

.dark-theme {
  background-color: #333;
  color: whitesmoke;
}

.offcanvas-bottom {
  height: auto !important;
}

.itemCount {
  z-index: 10;
  top: 9rem;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

a {
  color: #4F8AE8 !important;
  text-decoration:none
}

nav {
  position:fixed;
  bottom:14px;
  left:2px;
  display: flex;
  flex-direction: row;
  width: 98%;
  gap: 10px;
  padding-top: 15px;
}

nav button {
  justify-self:center;
  width:100%!important;
}

nav a {
  background-color:#1650AC;

}
nav a:nth-of-type(1) {flex-grow: 1;} 
nav a:nth-of-type(2) {flex-grow: 3;} 
nav a:nth-of-type(3) {flex-grow: 1;} 
nav a:nth-of-type(4) {flex-grow: 1;} 

nav i, .addHopeConfirm i{
  font-size: 24px;
}

#newListIcon {
  background-color:#b912e7 !important;
  color:#ffffff;
  animation: tilt-n-move-shaking 3s;
  animation-iteration-count: 2;
  border:none;
}

@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) }
  25% { transform: translate(0, -20px) }
  50% { transform: translate(0, 0) }
  75% { transform: translate(0, 5px)  }
  100% { transform: translate(0, 0) }
}

.topNav {
  text-align: right;
  padding: 10px 20px;
}

.feedback a {
  font-size: 1.3em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Cabin", sans-serif;
  color: #1650AC!important;
  line-height: 1.3em !important;
}

h4 {
  font-size: 1.2em !important;
}

h5 {
  font-size: 1em !important;
}

textarea.form-control.form-control-lg {
  font-size:1.2em;
}

.section-center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid #4F8AE8;
  margin-bottom: 12px;
}

.bucketIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  height: 70%;
}

.hopeCount {
  position: relative;
  width: 198px;
  top: 167px;
  font-weight: 800;
  font-size: 1.5em;
}

.no-wrap {
  flex: 0 0 auto;
}

.list-group {
  flex-direction: column-reverse;
  padding-left: 50px;
  display: inherit;
 
}

.list-group-item {
  margin-top: 6px!important;
}

.hopeItem {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  word-break: break-word;
  padding: 10px;
  font-size: 1em;
}

.removeItem {
  font-style: bold;
  font-weight: 700;
}

.newsletter-button {
  position: absolute;
  z-index: 1000;
  bottom: 10px;
  right: 10px;
}

.btn.startButton {
  min-width: 200px;
}

.closeX.btn:hover {
color:#fff;
font-weight:bold;
background-color:#1650AC!important;
}

.closeX.btn {
background-color: #ccc!important;

}

button.btn, nav a {
    color: #fff;
    padding: 5px;
    background-color: #1650AC !important;
    border: 0;
    border-radius: 10px;
    width: 60px;
    font-size: 24px;
}

.form-control {
  border: 2px solid !important;
}

.textWhite {
  color: #fff !important;
  text-decoration: none;
}


@media screen and (min-width:768px) {
  .hopeCount.text-center {
    position: relative;
    top: 175px;
  }
}